<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Candy Crush</title>
    
    <link rel="stylesheet" href="/cdn/css/style.css">
    <script src="app.js" charset="utf-8"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="grid"></div>
    <div class="score-board">
      <h3>Pontuação</h3>
      <h1 id="score"></h1>
      <h3>Movimentos</h3>
      <h1 id="nmoves"></h1>
    </div>

  </div>
  </body>
</html>
